#map {
    height: 400px;
    width: 100%;
   }

nav .brand-logo {
    margin-left: 40px;
}

.nav-wrapper .input-field input {
    margin-right: 40px;
}

/* .parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
} */

.row .col.l4 {
    height: 486px;
}

.parallax-container .parallax img {
    display: block;
}

.page-footer {
    padding: 30px;
}