#map {
    height: 400px;
    width: 100%;
   }

nav .nav-wrapper {
    height: 90px;
}

.nav-wrapper {
    background: rgb(3, 3, 3);
}

nav .brand-logo {
    margin-left: 40px;
    color: white;
    margin-top: 10px;
}

h3 {
    color: white;
}

.nav-wrapper .input-field input {
    margin-right: 40px;
}

.section.white {
    padding: 0;

}

.row .col.s12 {
    /* background: #E3E4E7; */
    background: url("../images/slanted.png");
    /* background: url("../images/purty_wood/purty_wood.png");
    opacity: .8; */
    /* background: url("../images/skelatal_weave/skelatal_weave.png"); */
    /* background: url("../images/brickwall/brickwall.png"); */
}

.active {
    color: white;
}

#artist-form {
    color: white;
}

#a {
    margin: 0;
}

#similar-artist {
    background: url("../images/slanted.png");
    margin: 0;
    padding: 30px 10px;
}

/* .carousel .carousel-item {
    display: flex;
    top: 100px;
    left: 100px;
} */

/* .row .col.l12 {
    background: #E3E4E7;
    background: url("../images/purty_wood/purty_wood.png");
} */

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.row .col.l4 {
    height: 484px;
}

.parallax-container .parallax img {
    display: block;
}

#add-artist {
    background: rgb(3, 3, 3);
    color: white;
    width: 100px;
    height: 35px;
    border: 1px solid white;
}

.page-footer {
    padding: 30px;
    background-color: rgb(3, 3, 3);
    color: white;
}

label, button {
    color: white;
}

#artistCar, button {
    background: black;
}

body {
    background: black;
}

input {
    background:rgb(3, 3, 3);
}

#artist-div {
    background-color: rgb(3, 3, 3);
    color: white;
    font-size: 20px;
    
}